@import url('https://fonts.googleapis.com/css2?family=Acme&family=Agbalumo&family=Atma:wght@300;400;500;600;700&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bayon&family=Bruno+Ace&family=Bungee+Shade&family=Calligraffitti&family=Castoro+Titling&family=Cinzel+Decorative:wght@400;700;900&family=Cookie&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Diplomata&family=Emblema+One&family=Galada&family=Holtwood+One+SC&family=Honk&family=Irish+Grover&family=Kalam:wght@300;400;700&family=Kite+One&family=Kumar+One+Outline&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lugrasimo&family=Martian+Mono:wght@100..800&family=Mynerve&family=Pacifico&family=Patrick+Hand+SC&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rampart+One&family=Reenie+Beanie&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Trade+Winds&display=swap');
*,  
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*====================*/
/*     containers     */
/*====================*/

.container_outside{
    display: flex;
  justify-content: center;
}
.inside_container{
    display: flex;
    flex-direction: column;
    border: gold 6px solid;
    background-image: linear-gradient(to bottom right, darkblue, white, darkblue);

    width: 80%;
    height: auto;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
}

/*====================*/
/*       title        */
/*====================*/
  
.pokedex_title{
color: black;
}
.pokedex_title span{
    color:black;
    font-family: "Trade Winds", system-ui;
}

/*====================*/
/*       Button       */
/*====================*/
  .btn-search{
    background-color: yellow;  
    color:darkblue;
    border: darkblue solid 3px;
  }  
  .btn-search:hover{
    background-color: darkblue;  
    color: yellow;
    border: yellow solid 3px;
    
}    
.search_input{
    border: black solid 2px;
    }



